<h1><mark><%= t('.edit_department') %></mark></h1><br>
<p class = "free"> <mark> <%= t('.edit_your_department') %> </mark></p><br>

<%= render 'form', department: @department %>

<%= link_to 'Show', @department %> |
<%= link_to 'Back', departments_path %>
