<!-- localised string refering to the department show page title -->
<h1><mark><%= t('.show_department') %></mark></h1><br><br>
<!-- localised string refering to the department show page paragraph -->
<p class = "free"> <mark> <%= t('.show_your_department') %> </mark></p>
<!-- Create DB table holding all different departments for the same uni -->
<table id="DBtable">
  <thead>
    <tr>
      <th>
        <strong>Uni:</strong>
      </th>
      <th>
        <strong>Deaprtment name:</strong>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= @department.uni.name %>
        </td>
      <td>
        <%= @department.name %>
      </td>
  </tr>
</table>
<!-- adding links for EDITING and going BACK to department page -->
<div id= "New">
<%= link_to 'Edit', edit_department_path(@department) %> |
</div>
<div id= "New">
<%= link_to 'Back', departments_path %>
</div>
