<h1> <%= t('.title') %> </h1>
<p> <%= t('.explanation') %> </p>
<p> <%= t('.Step1') %> </p>
<p> <%= t('.Step2') %> </p>
<p> <%= t('.Step3') %> </p>
<p> <%= t('.Step4') %> </p>
<p> <%= t('.Step5') %> </p>
<p> <%= t('.Suggestions') %> </p>
