<h1><mark><%= t('.edit_uni') %></mark></h1><br>
<p class = "free"> <mark> <%= t('.edit_your_uni') %> </mark></p><br>
<%= render 'form', uni: @uni %>

<%= link_to 'Show', @uni %> |
<%= link_to 'Back', unis_path %>
