<p id="notice"><%= notice %></p>

<h1> <mark> <%= t('.uni') %><mark></h1><br>
<p class = "free"> <mark> <%= t('.uni_list') %> </mark></p>

<table id="DBtable">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @unis.each do |uni| %>
      <tr>
        <td><%= uni.name %></td>
        <td><%= uni.location %></td>
        <td><%= link_to 'Show', uni %></td>
        <td><%= link_to 'Edit', edit_uni_path(uni) %></td>
        <td><%= link_to 'Destroy', uni, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div id= "NewUni">
<%= link_to 'New University', new_uni_path %>
</div>
