<h1> <mark> <%= t('.show_uni') %> <mark></h1><br>
<p class = "free"> <mark> <%= t('.add_department_to_uni') %> </mark></p>

<table id="DBtable">
  <thead>
    <tr>
      <th><strong>Name:</strong></th>
      <th><strong>Location:</strong></th>
      <th><strong>Departments:</strong></th>
      <th colspan="3">Options</th></tr>
  </thead>

    <tbody>
        <tr>
          <% @uni.departments.each do |department| %>
          <td><%= @uni.name %></td>
          <td><%= @uni.location %></td>
          <td><%= department.name %></td>
          <td><%= link_to 'Show', department %></td>
          <td><%= link_to 'Edit', edit_department_path(department) %></td>
          <td><%= link_to 'Destroy', department, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<div id= "NewUni">
  <%= link_to 'Add Department', new_department_path(uni_id: @uni) %>
</div>
<br>
<div id= "New">
<%= link_to 'Edit', edit_uni_path(@uni) %>
</div>
<div id= "New">
<%= link_to 'Back', unis_path %>
</div>
