<html>
<style>.mailer {border: 3px solid black;background-color: #E9967A; }</style>
<!-- adding the contacting recieved mailer form with the contacting students parameters -->
<div class= "mailer">
<p> <b><%= "Dear #{t('app_title')}," %> </b></p>
<p> <%= "Please get in touch with me as soon as possible, i need to double check some things?" %> </p>
<dl>
  <dt><b>Name:</b></dt>
  <dd>
    <%= @name %>
  </dd>
  <dt><b>Email:</b></dt>
  <dd>
    <%= @email %>
  </dd>
  <dt><b>Telephone:</b></dt>
  <dd>
    <%= @telephone %>
  </dd>
  <dt><b>Country:</b></dt>
  <dd>
    <%= @country %>
  </dd>
  <dt><b>University name:</b></dt>
  <dd>
    <%= @university_name %>
  </dd>
</dl>

<p> <%= @message %> </p>
<p><b>Thanks,</b></p>

<p>
  <%= @name %>
</p>
</div>
</html>
