<footer>
<p>© <%= t('.name') %> </p>
<p><span class="glyphicon glyphicon-home"> </span> <%= t('.adrress') %> </p>
<p><span class="glyphicon glyphicon-envelope" </span> <%= t('.email') %></p>
<p><span class="glyphicon glyphicon-earphone"</span> <%= t('.phone') %></p>
<span class="glyphicon glyphicon-user"</span><a href="http://www.facebook.com"> <%= t('.facebook') %>
</footer>
