<!DOCTYPE html>
<html>
  <head>
    <!-- Application information -->
    <title>University Access</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <!-- Calling the header section into the application -->
      <%= render 'section/header' %>
      <!-- Yield for calling all the other pages -->
      <%= yield %>
      <!-- Calling the footer section into the application -->
      <%= render 'section/footer' %>
    </body>
  </html>
